<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from leetapp.herokuapp.com, <%= @user.name %></h1>
    <p>
      You have successfully created a layover.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for using Leet and have a great day!</p>
  </body>
</html>